.playlistHeader {
  border: 1px solid #262626;
  background-color: #424242;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.38);
  margin: auto;
  margin-bottom: 25px;
}

.tik-tok-title {
  padding-bottom: 5px;
}
