.playlistHeader {
  background-color: #e8e8e8;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  -webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.26);
  box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.26);
  margin: auto;
  margin-bottom: 25px;
}

.tik-tok-title {
  padding-bottom: 5px;
  color: inherit;
  font-weight: bold;
  font-size: 20px;
}
