@font-face {
  font-family: "font1";
  src: url("../../fonts/BasicaIndustrial-99y2.ttf") format("truetype"); /* Safari, Android, iOS */
}

.nav {
  height: 19px;
}

.chronomy {
  position: absolute;
  top: 3px;
  right: 0;
  padding-right: 30px;
  padding-top: 4px;
  color: #bdbdbd;
}

body {
  background: #404040;
}
